@import '../../sass/base';

.about-section {
    background: $lighter;
    display: flex;
    font-family: $Cascadia;
    flex-direction: column;
}

.character-header {
    h2 {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        display: inline-block;
        font-size: 42px;
        font-weight: 200;
        letter-spacing: 2px;
        margin: 10px 10px 0 10px;
        position: relative;
        text-align: center;
        width: 90%;
    }

    p{
        margin: 10px 0 0 0;
        text-align: center;
        width: 100%;

        span{
            background-color: $dark;
            border-radius: 10px;
            color: $primary;
            padding: 4px 7px;
        }
    }   
}

.character-jobs{
    h3{
        border-bottom: 1px solid black;
        font-family: $Cascadia;
        font-weight: normal;
        margin: 20px 0 0 10px;
        width: 50%;
    }
    
    ul{
        font-family: $Cascadia;
        font-weight: normal;
        list-style: none;
    }
}

.character-img{
    position: relative;
    img{
        width: 100%;
        object-position: center;
        object-fit: fill;
    };
}

.character-footer{
    a{
        background-color: $dark;
        color: $primary;
        display: block;
        font-size: 18px;
        font-weight: 200;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        width: 60%;
    }
}