@font-face {
    font-family: "VT323";
    src: url("../../assets/fonts/VT323/VT323-Regular.ttf");
}

@font-face {
    font-family: "Poppins EB";
    src: url("../../assets/fonts/Poppins-ExtraBold/Poppins-ExtraBold.otf");
}

//All cascadia variations
@font-face {
    font-family: "Cascadia Code";
    src: url("../../assets/fonts/Cascadia/Cascadia.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Cascadia Code";
    src: url("../../assets/fonts/Cascadia/CascadiaCode-ExtraLight.ttf");
    font-weight: 100 ;
}

@font-face {
    font-family: "Cascadia Code";
    src: url("../../assets/fonts/Cascadia/CascadiaCode-Light.ttf");
    font-weight: 200;
}