@font-face {
    font-family: "VT323";
    src: url("../../assets/fonts/VT323/VT323-Regular.ttf");
}

@font-face {
    font-family: "Poppins EB";
    src: url("../../assets/fonts/Poppins-ExtraBold/Poppins-ExtraBold.otf");
}

@font-face {
    font-family: "Cascadia Code";
    src: url("../../assets/fonts/Cascadia/Cascadia.ttf");
}